<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Univ</th>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
      <th>Diet</th>
    </tr>
  </thead>

  <tbody>
    <% @diets.each do |diet| %>
      <tr>
        <td><%= diet.id %></td>
        <td><%= diet.univ_id %></td>
        <td><%= diet.name %></td>
        <td><%= diet.location %></td>
        <td><%= diet.date %></td>
        <td><%= diet.time %></td>
        <td><%= diet.diet %></td>
      </tr>
    <% end %>
  </tbody>
</table>
